body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    background-color: #b8465a;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  height: 100%;
}